[Unit]
Description=wgnet-agent - WireGuard configuration agent
After=network.target

[Service]
User=wgagent
Group=wgagent
ExecStart=/opt/wgagent/venv/bin/python3 /opt/wgagent/cli/wgagent.py run
WorkingDirectory=/opt/wgagent
Restart=always

[Install]
WantedBy=multi-user.target